.image img{
    width: 800px;
    height: 450px;
    text-align: center;
}
.btn{
    text-align: center;

}
.btn span button{
 padding: 30px;
 background-color: rgb(37, 36, 36);
 color: white;
 cursor: pointer;
 border-radius: 50px;

}
.btn span{
    margin: 30px;
}
@media  screen and (max-width:950px) {
    .image img{
        width: 100%;
    }
    
}

@media screen and (max-width:418px) {
    .btn span button{
        padding: 10px;
        background-color: rgb(37, 36, 36);
        color: white;
        cursor: pointer;
        border-radius: 50px;
       
       }
}